.App {
  text-align: center;
  background-color: #343841;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-footer {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  min-height: 75vh;
  display: flex;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.Clickable-Text{
  cursor: pointer;
  user-select: none;
  font-size: 14px;
}

.Logout-Section{
  display: flex;
  justify-content: flex-end;
  padding:1rem;
}

.Logout-Section a{
  margin: 0 3rem;
}

.Description-Section{
  font-size: 11px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
